<div id="phone-zone">
    <div id="phone-canvas" class="iphone-canvas">
        <div id="phone-canvas-inner" class="list-group">
        <div class="component header">
              <span class="content">{{view.title}}</span>
        </div>
        <div class="component viewcontent">
              <div class="content" ng-bind-html="view.content"></div>
        </div>
            <!--
            <div class="component {{item.type}}" ng-repeat="(itemKey, item) in localViewData | orderByPriority">
              <span class="content">{{item.content}}</span>
                <a ui-sref="edit.component({viewId:theViewID, componentId:itemKey})" class="hover-button left"><i class="fa fa-pencil"></i></a>
                <a class="hover-button right"><i class="fa fa-trash-o"></i></a>
            </div>
       
            <div class="app-tabs">
                <ul>
                    <li><i class="fa fa-calendar"></i></li>
                    <li><i class="fa fa-ticket"></i></li>
                    <li><i class="fa fa-camera"></i></li>
                    <li><i class="fa fa-user"></i></li>
                </ul>
            </div>
             -->
        </div>
    </div>
</div>